.text{
    &_bold{
        font-family: $ff-Bold;
    }
    &_center{
        text-align: center;
    }
    &_white{
        color: $color-white;
    }
    &_lt-md{
        letter-spacing: 0.5px;
    }
    &-desk{
        &_left{
            @include respond-to(desktop){
                text-align: left;
            }
        }
        &_right{
            @include respond-to(desktop){
                text-align: right;
            }
        }
    }
}
.fz{
    &_normal{
        font-size: $fz-normal;
    }
}
.m{
    &b{
        &_sm{
            margin-bottom: 20px;
        }
    }
}
.p{
    &x{
        &_sm{
            padding-left: 10px;
            padding-right: 10px;
        }
        &_md{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &l{
        &-desk{
            &-md{
                @include respond-to(desktop){
                    padding-left: 25px;
                }
            }
        }
    }
    &r{
        &-desk{
            &-md{
                @include respond-to(desktop){
                    padding-right: 25px;
                }
            }
        }
    }
}
.bg{
    &-tb{
        &_gray{
            @include respond-to(tablet){
                background-color: $gray;
            }
        }
    }
    &-desk{
        &_gray{
            @include respond-to(desktop){
                background-color: $gray;
            }
        }
    }
}
.d{
    &-none{
        display: none;
    }
    &-flex{
        display: flex;
    }
    &-block{
        display: block;
    }
    &-tb{
        &-none{
            @include respond-to(tablet){
                display: none;
            }
        }
        &-inlineblock{
            @include respond-to(tablet){
                display: inline-block;
            }
        }
    }
    &-desk{
        &-none{
            @include respond-to(desktop){
                display: none;
            }
        }
        &-block{
            @include respond-to(desktop){
                display: block;
            }
        }
        &-flex{
            @include respond-to(desktop){
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}
.order{
    &-tb{
        &-1{
            order: -1;
        }
    }
}
.col{
    &_4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    &_8{
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
    &-desk{
        &-6{
            @include respond-to(desktop){
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}
.overflow{
    &-hidden{
        overflow: hidden;
    }
}
.w{
    &-100{
        width: 100%;
    }
}