$ff-Black: "PFDinDisplayPro-Black";
$ff-BlackIt: "PFDinDisplayPro-BlackIt";
$ff-Bold: "PFDinDisplayPro-Bold";
$ff-BoldItal: "PFDinDisplayPro-BoldItal";
$ff-Italic: "PFDinDisplayPro-Italic";
$ff-Light: "PFDinDisplayPro-Light";
$ff-LightItal: "PFDinDisplayPro-LightItal";
$ff-Med: "PFDinDisplayPro-Med";
$ff-MedItal: "PFDinDisplayPro-MedItal";
$ff-Reg: "PFDinDisplayPro-Reg";
$ff-Thin: "PFDinDisplayPro-Thin";
$ff-ThinItal: "PFDinDisplayPro-ThinItal";
$ff-XThin: "PFDinDisplayPro-XThin";
$ff-XThinIt: "PFDinDisplayPro-XThinIt";

$fz-mega: 50px;
$fz-big: 30px;
$fz-lg: 24px;
$fz-md: 22px;
$fz-normal: 20px;
$fz-def: 18px;
$fz-sm: 16px;
$fz-xs: 14px;

$hr: #005988;
$primal: #014d92;
$white: #ffffff;
$black: #000000;
$label: #71c0e2;
$primal-dot: #2364cf;
$dark-dot: #004a8d;
$popupTitle: #004a8d;
$gray: #f1f1f1;
$second: #5b5b5b;
$btn-bg: #9af0ff;
$color-white: $white;
$color-toogler: #4581bc;
$color-btn: $btn-bg;
$color-primal: $primal;
$color-second: $second;
$color-gray: $gray;
$color-primalList: #024e95;
$footer-bg: #034f98;
$logo: #0757a6;
$shadow-box: #ebebeb;
$dot: #034f97;
$border: #e8e8e8;
$borderPrim: $dark-dot;
$borderInput: $logo;
$placeholder: #a1a0a0;