@import "base";
@import "fonts";
@import "media-mixins";
@import "var";

.body {
    font-family: $ff-Reg;
    font-size: $fz-def;
    line-height: normal;
    @at-root [menuState="open"]{
        overflow: hidden;
    }
}
[lang='ru']{
    #ru{
        order: -1;
    }
}
[lang='eu']{
    #eu{
        order: -1;
    }
}
.header{
    height: 50px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0 0 0 20px;
    @include respond-to(tablet){
        background-color: $logo;
        padding: 0 0 0 50px;
        height: 66px;
    }
    @include respond-to(desktop){
        padding: 0;
        background-color: transparent;
        @at-root [positionTop="false"] &{
            background-color: $logo;
        }
    }
    &_fixed{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    &__empty{
        height: 50px;
        width: 100%;
        @include respond-to(tablet){
            height: 66px;
        }
        @include respond-to(desktop){
            height: 0;
        }
    }
    &__number{
        font-size: $fz-def;
        @include respond-to(tablet){
            font-size: $fz-md;
            color: $white;
        }
    }
    &__lang{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-size: $fz-sm;
        height: 21px;
        overflow: hidden;
        @include respond-to(tablet){
            font-size: $fz-def;
            color: $white;
        }
        @include respond-to(desktop){
            position: absolute;
            right: 150px;
        }
        @include respond-to(desktopPlus){
            position: absolute;
            left: 60px;
            right: initial;
        }
        &_show{
            overflow: visible;
        }
    }
    &__arrow{
        padding-right: 15px;
        padding-left: 15px;
        transition: all 0.3s;
        & img {
            filter: brightness(0);
            @include respond-to(tablet){
                filter: brightness(1);
            }
        }
        @include respond-to(desktop){
            position: absolute;
            right: 100px;
        }
        @include respond-to(desktopPlus){
            position: absolute;
            left: 80px;
            right: initial;
        }
        &_show{
            transform: scaleY(-1);
        }
    }
}
.lang{
    &__item{
        display: block;
        background-color: $white;
        @include respond-to(tablet){
            background-color: $logo;
        }
    }
}
.menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
    background-color: $white;
    padding: 85px 10px 60px;
    text-align: center;
    &__title{
        color: $logo;
        font-size: $fz-lg;
        font-family: $ff-Bold;
    }
    &__wrapper{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    &__policy{
        font-size: $fz-xs;
        letter-spacing: 0.35px;
        color: #333333;
        display: block;
        margin-top: auto;
    }
}
[menuState="open"] .menu{
    top: 0;
}
.logo{
    width: auto;
    height: 37px;
    vertical-align: baseline;
    @include respond-to(desktop){
        margin-right: 30px;
    }
}
.toogler{
    z-index: 1;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    @include respond-to(desktop){
        position: absolute;
        right: 0;
    }
    @include respond-to(desktopPlus){
        position: absolute;
        right: 0;
    }
    &__main{
        display: block;
        width: 28px;
        height: 2px;
        background-color: $color-toogler;
        position: relative;
        transition: all 0.3s ease-in-out;
        @at-root [menuState="open"] &{
            background-color: transparent;
        }
        &::before{
            content: '';
            height: 100%;
            width: 100%;
            background-color: $color-toogler;
            position: absolute;
            bottom: 8px;
            transition: all 0.3s ease-in-out;
            @at-root [menuState="open"] &{
                transform: rotate(45deg);
                transform-origin: 5px 5px;
            }
        }
        &::after{
            content: '';
            height: 100%;
            width: 100%;
            background-color: $color-toogler;
            position: absolute;
            top: 8px;
            transition: all 0.3s ease-in-out;
            @at-root [menuState="open"] &{
                transform: rotate(-45deg);
                transform-origin: 4px -3px;
            }
        }
    }
    @include respond-to(tablet){
        height: 66px;
        width: 66px;
        background-color: $white;
    }
}
.banner{
    padding: 40px 20px;
    color: $color-white;
    position: relative;
    @include respond-to(tablet){
        padding: 75px 50px 90px;
    }
    @include respond-to(desktop){
        flex: 0 0 60%;
        padding: 210px 0px 325px;
    }
    &__bg{
        &_desk{
            @include respond-to(desktop){
                background-image: radial-gradient(circle 761px at center, #0c62bb 0%, #004a8d 100%);
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 60vw;
                z-index: -1;
            }
        }
    }
    &_bugfix{
        @include respond-to(desktop){
            height: 225px;
            width: 100%;
            background-color: $gray;
            flex: 0 0 100%;
            transform: scaleX(10);
            z-index: -1;
        }
    }
}
.title{
    font-size: $fz-md;
    margin-bottom: 20px;
    font-family: $ff-Bold;
    &__card{
        margin-bottom: 20px;
        font-family: $ff-Bold;
        color: $color-primal;
        @include respond-to(tablet){
            font-size: $fz-big;
        }
    }
    &__main{
        font-size: $fz-lg;
        font-family: $ff-Bold;
        &_alone{
            margin: 30px 0;
            text-align: center;
            @include respond-to(tablet){
                font-size: $fz-big;
            }
        }
        @at-root .banner &{
            @include respond-to(tablet){
                font-size: $fz-mega;
            }
            @include respond-to(desktop){
                font-size: $fz-big*2;
            }
        }
    }
    &__section{
        font-family: $ff-Bold;
        margin-bottom: 40px;
        font-size: $fz-md;
        text-align: center;
        @include respond-to(tablet){
            font-size: $fz-def*2;
            margin-bottom: 70px;
        }
        @include respond-to(desktop){
            text-align: left;
            margin-bottom: 45px;
        }
        @at-root .bg_primal &{
            margin-bottom: 60px;
        }
        &_sm{
            font-size: $fz-normal;
        }
        &_big{
            @include respond-to(tablet){
                font-size: $fz-lg*2;
                margin-bottom: 100px;
            }
        }
        &.text_tb-big{
            @include respond-to(tablet){
                font-size: $fz-big;
            }
        }
        @at-root .news-block &{
            margin-bottom: 50px;
        }
    }
}
.subtitle{
    font-size: $fz-xs;
    font-family: $ff-Bold;
    letter-spacing: 0.5px;
    margin-bottom: 25px; 
    @include respond-to(tablet){
        font-size: $fz-md;
        margin-top: 25px;
        margin-bottom: 50px;
    }
}
.par{
    font-size: $fz-xs;
    font-family: $ff-Reg;
    letter-spacing: 0.35px;
    @include respond-to(tablet){
        font-size: $fz-normal;
    }
    &__card{
        font-size: $fz-sm;
        color: $color-second;
        @include respond-to(tablet){
            font-size: $fz-normal;
        }
    }
    @at-root .banner &{
        margin-bottom: 35px;
        letter-spacing: 0.5px;
        font-size: $fz-normal;
        @include respond-to(tablet){
            margin-block-end: 40px;
        }
        @include respond-to(desktop){
            max-width: 627px;
        }
    }
    &_allwaysDef{
        font-size: $fz-def;
    }
    @at-root .bg_primal &{
        @include respond-to(tablet){
            order: 9;
            font-size: $fz-big;
        }
    }
}
.icons{
    margin-bottom: 40px;
    margin-top: 0px; 
    @include respond-to(tablet){
        order: 10;
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: $fz-lg;
    }
    @include respond-to(desktop){
        margin-top: 0px;
    }
}
.btn{
    display: inline-block;
    padding: 16px 18px 14px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $color-btn;
    line-height: 1;
    background-color: transparent;
    border: 1px solid $btn-bg;
    border-radius: 50px;
    font-family: $ff-Med;
    text-decoration: none;
    &:focus{
        outline: none;
    }
    @include respond-to(tablet){
        padding: 22px 30px 20px 30px;
        font-size: $fz-sm;
    }
}
.img{
    max-width: 100%;
    margin: auto;
    &-container{
        @include respond-to(desktop){
            flex: 0 0 40%;
            position: relative;
        }
        img{
            @include respond-to(tablet){
                height: auto;
                width: 100%;
            }
            @include respond-to(desktop){
                max-width: none;
                height: auto;
                width: auto;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    &-absolute{
        padding: 22px;
        background-color: $gray;
        box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.05);
        @include respond-to(tablet){
            padding: 67px 67px 44px;
        }
        @include respond-to(desktop){
            position: absolute;
            bottom: 0px;
            left: 0;
            min-height: 450px;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.section{
    padding: 40px 20px;
    @include respond-to(tablet){
        padding: 80px 50px;
    }
    &__main{
        position: relative;
        @include respond-to(desktop){
            display: flex;
            overflow: hidden;
            background-color: $gray;
            z-index: -1;
        }
    }
    &__noSpaceY{
        padding-top: 0px;
        padding-bottom: 0px;
        @include respond-to(tablet){
            padding: 0 50px;
        }
    }
    &_botSm{
        padding: 40px 20px 20px;
        @include respond-to(tablet){
            padding: 80px 50px 60px;
        }
    }
    &.bg_primal{
        display: flex;
        flex-direction: column;
        @include respond-to(tablet){
            padding: 100px 50px;
        }
    }
}
.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    &-tb{
        &_flex{
            @include respond-to(tablet){
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    @at-root .header &{
        display: flex;
        align-items: center;
        position: initial;
    }
}
.bg{
    &_primal{
        background-image: radial-gradient(circle 254px at center, #0c62bb 0%, #004a8d 100%);
        @include respond-to(desktop){
            @at-root .section__main &{
                background-image: none;
            }
        }
    }
}
.card{
    &:not(:last-of-type){
        margin-bottom: 40px;
    }
    &__header{
        margin-bottom: 40px;
        @include respond-to(tablet){
            margin-bottom: 65px;
        }
        &_sm{
            margin-bottom: 20px;
            text-align: center;
        @include respond-to(tablet){
                margin-bottom: 30px;
            }
        }
    }
    @include respond-to(tablet){
        padding: 0 30px;
        .par{
            @include respond-to(tablet){
                font-size: $fz-sm;
            }
            @include respond-to(desktop){
                font-size: $fz-lg;
            }
        }
        &:first-child{
            padding-left: 0px;
        }
        &:last-child{
            padding-right: 0px;
        }

    }
    @at-root .chairs &{
        flex: 0 0 100%;
        @include respond-to(desktop){
            flex: 0 0 50%;
        }
    }
}
.list{
    list-style-type: none;
    font-size: $fz-sm;
    margin-bottom: 30px;
    @include respond-to(tablet){
        font-size: $fz-normal;
        margin-bottom: 40px;
    }
    &__primal{
        color: $color-primalList;
        line-height: normal;
    }
    &__item{
        padding-left: 27px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0px;
            top: 10px;
            height: 1px;
            width: 12px;
            background-color: $dark-dot;
        }
        @at-root .list__primal &{
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 6px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                border: 1px solid $primal-dot;
                background-color: transparent;
            }
            &::after{
                content: '';
                position: absolute;
                left: 3px;
                top: 9px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: $primal-dot;
            }
        }
    }
    @at-root .bg_primal &{
        margin-bottom: 0;
        @include respond-to(tablet){
            max-width: 565px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }
        @include respond-to(desktop){
            max-width: none;
        }
        &__item{
            color: $white;
            font-size: $fz-def;
            font-weight: normal;
            @include respond-to(tablet){
                font-size: $fz-big;
                padding-left: 50px;
                margin-bottom: 65px;
            }
            &::before{
                display: none;
            }
        }
        &__label{
            font-size: $fz-normal;
            color: $label;
            position: absolute;
            left: 0;
            line-height: 1;
            @include respond-to(tablet){
                font-size: $fz-def*2;
            }
        }
    }
    @at-root .menu &{
        &__item{
            font-size: $fz-def;
            text-transform: uppercase;
            line-height: 1;
            font-family: $ff-Bold;
            padding: 0px;
            margin: 25px;
            &::before{
                display: none;
            }
        }
        &__link{
            text-decoration: none;
            color: inherit;
            position: relative;
            &::before{
                content: '';
                transition: all 0.3s ease-in-out;
                width: 0;
                height: 2px;
                background-color: #000000;
                position: absolute;
                bottom: 0px;
            }
            &:hover{
                &::before{
                    width: 100%;
                }
            }
        }
    }
}
.container{
    &_carousel{
        margin-bottom: 10px;
        @include respond-to(tablet){
            display: flex;
            justify-content: center;
        }
    }
}
.hr{
    height: 3px;
    width: 175px;
    background-color: $hr;
    margin: auto;
}
.cestern{
    margin-bottom: 50px;
    @include respond-to(tablet){
        margin-left: auto; 
        margin-right: auto; 
    }
}
.row{
    display: flex;
    flex-direction: row;
    &_gap-md{
        &:not(:last-of-type){
            margin-bottom: 30px;
        }
    }
    &_vcenter{
        align-items: center;
    }
}
.ico{
    padding: 0 30px 0 10px;
    max-width: 120px !important;
}
.news{
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond-to(tablet){
        display: flex;
        text-align: initial;
    }
    &__item{
        margin-bottom: 35px;
        position: relative;
        @include respond-to(tablet){
            // max-width: 280px;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 65px;
                right: -20px;
                height: 100px;
                width: 84px;
                z-index: -1;
                background-color: $shadow-box;
            }
        }
        @include respond-to(desktop){
            max-width: 559px;
            margin-bottom: 75px;
            &::before{
                top: 154px;
                right: -30px;
                width: 200px;
                height: 166px;
            }
        }
        &_main{
            @include respond-to(tablet){
                // max-width: 350px;
                flex: 0 0 50%;
                &::before{
                    content: '';
                    position: absolute;
                    top: 143px;
                    right: -20px;
                    height: 153px;
                    width: 127px;
                    z-index: -1;
                    background-color: $shadow-box;
                }
            }
            @include respond-to(desktop){
                max-width: 700px;
                &::before{
                    top: 326px;
                    right: -30px;
                    width: 305px;
                    height: 253px;
                }
                & img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    &__aside{
        @include respond-to(tablet){
            display: block;
            flex: 0 0 50%;
            padding-left: 100px;
        }
    }
    &__date{
        font-size: $fz-xs;
        margin-bottom: 8px;
        @include respond-to(tablet){
            position: absolute;
            top: 5px;
            left: 5px;
            color: $color-gray;
            font-size: $fz-lg/2;
        }
    }
    &__lable{
        color: inherit;
        font-size: $fz-normal;
        text-decoration: none;
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            background-color: $black;
            position: absolute;
            bottom: 0px;
        }
        &:hover{
            &::before{
                display: none;
            }
        }
        @include respond-to(tablet){
            font-size: $fz-sm;
            display: block;
            margin-top: 10px;
            &::before{
                display: none;
            }
        }
    }
    &__img{
        display: none;
        overflow: hidden;
        position: relative;
        @include respond-to(tablet){
            display: block;
            max-height: 146px;
        }
        @include respond-to(desktop){
            max-height: 289px;
        }
        &_main{
            display: none;
            @include respond-to(tablet){
                display: block;
                max-height: 275px;
            }
            @include respond-to(desktop){
                max-height: 550px;
            }
        }
    }
}
.contacts{
    display: flex;
    flex-direction: column;
    @include respond-to(tablet){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 70px;
        padding-top: 45px;
    }
    &__item{
        margin-bottom: 45px;
        flex: 0 0 100%;
        @include respond-to(tablet){
            flex: 0 0 50%;
        }
        @include respond-to(desktop){
            flex: 0 0 25%;
        }
    }
    &__title{
        flex: 0 0 100%;
        font-size: $fz-normal;
        margin-bottom: 25px;
        letter-spacing: 0.5px;
        color: $color-second;
        text-transform: uppercase;
        text-align: center;
        @include respond-to(tablet){
            text-align: initial;
        }
    }
    &__link{
        display: block;
        color: inherit;
        text-decoration: none;
        letter-spacing: 0.5px;
        line-height: 1;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__social{
        display: inline-block;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        @include respond-to(tablet){
            justify-content: initial;
        }
    }
    &__main{
        flex: 0 1 auto;
        font-size: $fz-normal;
    }
    &__ico{
        flex: 0 0 auto;
        padding-right: 10px;
    }
}
.footer{
    position: relative;
    &__top{
        height: 55px;
        @include respond-to(tablet){
            height: 160px;
        }
    }
    &__address{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: $fz-xs;
        color: $color-white;
        padding: 0 20px 40px;
        background-color: $footer-bg;
        height: 378px;
        @include respond-to(tablet){
            padding: 0 50px 80px;
            height: 590px;
            font-size: $fz-normal;
            text-align: center;
        }
    }
    &__map{
        height: 336px;
        width: calc(100% - 40px);
        position: absolute;
        top: 0px;
        left: 20px;
        background: #000;
        box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
        @include respond-to(tablet){
            width: calc(100% - 100px);
            left: 50px;
            height: 544px;
        }
        @include respond-to(desktop){
            width: 100%;
            left: 0;
        }
    }
}
.flex{
    @include respond-to(tablet){
        display: flex;
        flex-direction: row;
    }
    &_noWrap{
        @include respond-to(desktop){
            flex-wrap: nowrap;
        }
    }
    &_wrap{
        @include respond-to(tablet){
            flex-wrap: wrap;
        }
    }
}


@import "tools";

.fotorama__thumb-border, .fotorama__nav--thumbs .fotorama__nav__frame, .fotorama__thumb, .fotorama__thumb img {
    @include respond-to(tablet){
        height: 175px !important;
        width: 175px !important;
        left: 0 !important;
    }
}
.fotorama__thumb-border {
    @include respond-to(tablet){
        display: none !important;
    }
}
.test{
    transition: all 1s;
    transition: rotate(180deg);
}
.dots{
    position: fixed;
    transform: translateX(-50px);
    top: 230px;
    display: none;
    flex-direction: column;
    &__line{
        width: 100vw;
        height: 2px;
        background-color: $white;
        position: absolute;
        right: 8px;
        margin-top: 3px;
        top: 0px;
        @at-root [line='top'] &{
            top: 0px;
        }
        @at-root [line='1'] &{
            top: 18px;
            background-color: $dot;
        }
        @at-root [line='2'] &{
            top: 36px;
            background-color: $dot;
        }
        @at-root [line='3'] &{
            top: 54px;
        }
        @at-root [line='4'] &{
            top: 72px;
            background-color: $dot;
        }
        @at-root [line='5'] &{
            top: 90px;
            background-color: $dot;
        }
        @at-root [line='6'] &{
            top: 108px;
            background-color: $dot;
        }
        @at-root [line='bot'] &{
            top: 108px;
        }
    }
    &__item{
        &:not(:first-child){
            margin-top: 10px;
        }
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background-color: $white;
        transition: all 0.3s ease-in-out;
        @at-root [line='top'] &{
            &:nth-child(1){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
        }
        @at-root [line='1'] &{
            background-color: $dot;
            &:nth-child(2){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
        }
        @at-root [line='2'] &{
            background-color: $dot;
            &:nth-child(3){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
        }
        @at-root [line='3'] &{
            &:nth-child(4){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
        }
        @at-root [line='4'] &{
            &:nth-child(5){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
            background-color: $dot;
        }
        @at-root [line='5'] &{
            &:nth-child(6){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
            background-color: $dot;
        }
        @at-root [line='6'] &{
            &:nth-child(7){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
            background-color: $dot;
        }
        @at-root [line='bot'] &{
            &:nth-child(8){
                box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
            }
        }
    }
    @include respond-to(desktop){
        display: flex;
    }
}