/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  font-size: inherit; }

ul, ol {
  padding: 0px;
  margin: 0px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'PFDinDisplayPro-Black';
  src: url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-BlackIt';
  src: url("../fonts/PFDinDisplayPro-BlackIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-Bold';
  src: url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-BoldItal';
  src: url("../fonts/PFDinDisplayPro-BoldItal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-Italic';
  src: url("../fonts/PFDinDisplayPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-Light';
  src: url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-LightItal';
  src: url("../fonts/PFDinDisplayPro-LightItal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-Med';
  src: url("../fonts/PFDinDisplayPro-Med.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-MedItal';
  src: url("../fonts/PFDinDisplayPro-MedItal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-Reg';
  src: url("../fonts/PFDinDisplayPro-Reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-Thin';
  src: url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-ThinItal';
  src: url("../fonts/PFDinDisplayPro-ThinItal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-XThin';
  src: url("../fonts/PFDinDisplayPro-XThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro-XThinIt';
  src: url("../fonts/PFDinDisplayPro-XThinIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.body {
  font-family: "PFDinDisplayPro-Reg";
  font-size: 18px;
  line-height: normal; }
  [menuState="open"] {
    overflow: hidden; }

[lang='ru'] #ru {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

[lang='eu'] #eu {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.header {
  height: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  padding: 0 0 0 20px; }
  @media only screen and (min-width: 768px) {
    .header {
      background-color: #0757a6;
      padding: 0 0 0 50px;
      height: 66px; } }
  @media only screen and (min-width: 1200px) {
    .header {
      padding: 0;
      background-color: transparent; }
      [positionTop="false"] .header {
        background-color: #0757a6; } }
  .header_fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; }
  .header__empty {
    height: 50px;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .header__empty {
        height: 66px; } }
    @media only screen and (min-width: 1200px) {
      .header__empty {
        height: 0; } }
  .header__number {
    font-size: 18px; }
    @media only screen and (min-width: 768px) {
      .header__number {
        font-size: 22px;
        color: #ffffff; } }
  .header__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    font-size: 16px;
    height: 21px;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .header__lang {
        font-size: 18px;
        color: #ffffff; } }
    @media only screen and (min-width: 1200px) {
      .header__lang {
        position: absolute;
        right: 150px; } }
    @media only screen and (min-width: 1440px) {
      .header__lang {
        position: absolute;
        left: 60px;
        right: initial; } }
    .header__lang_show {
      overflow: visible; }
  .header__arrow {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .header__arrow img {
      -webkit-filter: brightness(0);
      filter: brightness(0); }
      @media only screen and (min-width: 768px) {
        .header__arrow img {
          -webkit-filter: brightness(1);
          filter: brightness(1); } }
    @media only screen and (min-width: 1200px) {
      .header__arrow {
        position: absolute;
        right: 100px; } }
    @media only screen and (min-width: 1440px) {
      .header__arrow {
        position: absolute;
        left: 80px;
        right: initial; } }
    .header__arrow_show {
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1); }

.lang__item {
  display: block;
  background-color: #ffffff; }
  @media only screen and (min-width: 768px) {
    .lang__item {
      background-color: #0757a6; } }

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  padding: 85px 10px 60px;
  text-align: center; }
  .menu__title {
    color: #0757a6;
    font-size: 24px;
    font-family: "PFDinDisplayPro-Bold"; }
  .menu__wrapper {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu__policy {
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #333333;
    display: block;
    margin-top: auto; }

[menuState="open"] .menu {
  top: 0; }

.logo {
  width: auto;
  height: 37px;
  vertical-align: baseline; }
  @media only screen and (min-width: 1200px) {
    .logo {
      margin-right: 30px; } }

.toogler {
  z-index: 1;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  @media only screen and (min-width: 1200px) {
    .toogler {
      position: absolute;
      right: 0; } }
  @media only screen and (min-width: 1440px) {
    .toogler {
      position: absolute;
      right: 0; } }
  .toogler__main {
    display: block;
    width: 28px;
    height: 2px;
    background-color: #4581bc;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    [menuState="open"] .toogler__main {
      background-color: transparent; }
    .toogler__main::before {
      content: '';
      height: 100%;
      width: 100%;
      background-color: #4581bc;
      position: absolute;
      bottom: 8px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      [menuState="open"] .toogler__main::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 5px 5px;
        transform-origin: 5px 5px; }
    .toogler__main::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: #4581bc;
      position: absolute;
      top: 8px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      [menuState="open"] .toogler__main::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 4px -3px;
        transform-origin: 4px -3px; }
  @media only screen and (min-width: 768px) {
    .toogler {
      height: 66px;
      width: 66px;
      background-color: #ffffff; } }

.banner {
  padding: 40px 20px;
  color: #ffffff;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .banner {
      padding: 75px 50px 90px; } }
  @media only screen and (min-width: 1200px) {
    .banner {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      padding: 210px 0px 325px; } }
  @media only screen and (min-width: 1200px) {
    .banner__bg_desk {
      background-image: radial-gradient(circle 761px at center, #0c62bb 0%, #004a8d 100%);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 60vw;
      z-index: -1; } }
  @media only screen and (min-width: 1200px) {
    .banner_bugfix {
      height: 225px;
      width: 100%;
      background-color: #f1f1f1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-transform: scaleX(10);
      transform: scaleX(10);
      z-index: -1; } }

.title {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "PFDinDisplayPro-Bold"; }
  .title__card {
    margin-bottom: 20px;
    font-family: "PFDinDisplayPro-Bold";
    color: #014d92; }
    @media only screen and (min-width: 768px) {
      .title__card {
        font-size: 30px; } }
  .title__main {
    font-size: 24px;
    font-family: "PFDinDisplayPro-Bold"; }
    .title__main_alone {
      margin: 30px 0;
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .title__main_alone {
          font-size: 30px; } }
    @media only screen and (min-width: 768px) {
      .banner .title__main {
        font-size: 50px; } }
    @media only screen and (min-width: 1200px) {
      .banner .title__main {
        font-size: 60px; } }
  .title__section {
    font-family: "PFDinDisplayPro-Bold";
    margin-bottom: 40px;
    font-size: 22px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .title__section {
        font-size: 36px;
        margin-bottom: 70px; } }
    @media only screen and (min-width: 1200px) {
      .title__section {
        text-align: left;
        margin-bottom: 45px; } }
    .bg_primal .title__section {
      margin-bottom: 60px; }
    .title__section_sm {
      font-size: 20px; }
    @media only screen and (min-width: 768px) {
      .title__section_big {
        font-size: 48px;
        margin-bottom: 100px; } }
    @media only screen and (min-width: 768px) {
      .title__section.text_tb-big {
        font-size: 30px; } }
    .news-block .title__section {
      margin-bottom: 50px; }

.subtitle {
  font-size: 14px;
  font-family: "PFDinDisplayPro-Bold";
  letter-spacing: 0.5px;
  margin-bottom: 25px; }
  @media only screen and (min-width: 768px) {
    .subtitle {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 50px; } }

.par {
  font-size: 14px;
  font-family: "PFDinDisplayPro-Reg";
  letter-spacing: 0.35px; }
  @media only screen and (min-width: 768px) {
    .par {
      font-size: 20px; } }
  .par__card {
    font-size: 16px;
    color: #5b5b5b; }
    @media only screen and (min-width: 768px) {
      .par__card {
        font-size: 20px; } }
  .banner .par {
    margin-bottom: 35px;
    letter-spacing: 0.5px;
    font-size: 20px; }
    @media only screen and (min-width: 768px) {
      .banner .par {
        -webkit-margin-after: 40px;
        margin-block-end: 40px; } }
    @media only screen and (min-width: 1200px) {
      .banner .par {
        max-width: 627px; } }
  .par_allwaysDef {
    font-size: 18px; }
  @media only screen and (min-width: 768px) {
    .bg_primal .par {
      -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
      order: 9;
      font-size: 30px; } }

.icons {
  margin-bottom: 40px;
  margin-top: 0px; }
  @media only screen and (min-width: 768px) {
    .icons {
      -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
      order: 10;
      margin-top: 40px;
      margin-bottom: 0px;
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    .icons {
      margin-top: 0px; } }

.btn {
  display: inline-block;
  padding: 16px 18px 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #9af0ff;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #9af0ff;
  border-radius: 50px;
  font-family: "PFDinDisplayPro-Med";
  text-decoration: none; }
  .btn:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .btn {
      padding: 22px 30px 20px 30px;
      font-size: 16px; } }

.img {
  max-width: 100%;
  margin: auto; }
  @media only screen and (min-width: 1200px) {
    .img-container {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      position: relative; } }
  @media only screen and (min-width: 768px) {
    .img-container img {
      height: auto;
      width: 100%; } }
  @media only screen and (min-width: 1200px) {
    .img-container img {
      max-width: none;
      height: auto;
      width: auto;
      position: absolute;
      left: 0;
      top: 0; } }
  .img-absolute {
    padding: 22px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.05); }
    @media only screen and (min-width: 768px) {
      .img-absolute {
        padding: 67px 67px 44px; } }
    @media only screen and (min-width: 1200px) {
      .img-absolute {
        position: absolute;
        bottom: 0px;
        left: 0;
        min-height: 450px;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.section {
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    .section {
      padding: 80px 50px; } }
  .section__main {
    position: relative; }
    @media only screen and (min-width: 1200px) {
      .section__main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        background-color: #f1f1f1;
        z-index: -1; } }
  .section__noSpaceY {
    padding-top: 0px;
    padding-bottom: 0px; }
    @media only screen and (min-width: 768px) {
      .section__noSpaceY {
        padding: 0 50px; } }
  .section_botSm {
    padding: 40px 20px 20px; }
    @media only screen and (min-width: 768px) {
      .section_botSm {
        padding: 80px 50px 60px; } }
  .section.bg_primal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .section.bg_primal {
        padding: 100px 50px; } }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .wrapper-tb_flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: initial; }

.bg_primal {
  background-image: radial-gradient(circle 254px at center, #0c62bb 0%, #004a8d 100%); }
  @media only screen and (min-width: 1200px) {
    .section__main .bg_primal {
      background-image: none; } }

.card:not(:last-of-type) {
  margin-bottom: 40px; }

.card__header {
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .card__header {
      margin-bottom: 65px; } }
  .card__header_sm {
    margin-bottom: 20px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .card__header_sm {
        margin-bottom: 30px; } }

@media only screen and (min-width: 768px) {
  .card {
    padding: 0 30px; } }
  @media only screen and (min-width: 768px) and (min-width: 768px) {
    .card .par {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .card .par {
      font-size: 24px; } }

@media only screen and (min-width: 768px) {
    .card:first-child {
      padding-left: 0px; }
    .card:last-child {
      padding-right: 0px; } }

.chairs .card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }
  @media only screen and (min-width: 1200px) {
    .chairs .card {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }

.list {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .list {
      font-size: 20px;
      margin-bottom: 40px; } }
  .list__primal {
    color: #024e95;
    line-height: normal; }
  .list__item {
    padding-left: 27px;
    margin-bottom: 20px;
    position: relative; }
    .list__item::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 10px;
      height: 1px;
      width: 12px;
      background-color: #004a8d; }
    .list__primal .list__item::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 6px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1px solid #2364cf;
      background-color: transparent; }
    .list__primal .list__item::after {
      content: '';
      position: absolute;
      left: 3px;
      top: 9px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #2364cf; }
  .bg_primal .list {
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) {
      .bg_primal .list {
        max-width: 565px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0; } }
    @media only screen and (min-width: 1200px) {
      .bg_primal .list {
        max-width: none; } }
    .bg_primal .list__item {
      color: #ffffff;
      font-size: 18px;
      font-weight: normal; }
      @media only screen and (min-width: 768px) {
        .bg_primal .list__item {
          font-size: 30px;
          padding-left: 50px;
          margin-bottom: 65px; } }
      .bg_primal .list__item::before {
        display: none; }
    .bg_primal .list__label {
      font-size: 20px;
      color: #71c0e2;
      position: absolute;
      left: 0;
      line-height: 1; }
      @media only screen and (min-width: 768px) {
        .bg_primal .list__label {
          font-size: 36px; } }
  .menu .list__item {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    font-family: "PFDinDisplayPro-Bold";
    padding: 0px;
    margin: 25px; }
    .menu .list__item::before {
      display: none; }
  .menu .list__link {
    text-decoration: none;
    color: inherit;
    position: relative; }
    .menu .list__link::before {
      content: '';
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 0;
      height: 2px;
      background-color: #000000;
      position: absolute;
      bottom: 0px; }
    .menu .list__link:hover::before {
      width: 100%; }

.container_carousel {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .container_carousel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.hr {
  height: 3px;
  width: 175px;
  background-color: #005988;
  margin: auto; }

.cestern {
  margin-bottom: 50px; }
  @media only screen and (min-width: 768px) {
    .cestern {
      margin-left: auto;
      margin-right: auto; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .row_gap-md:not(:last-of-type) {
    margin-bottom: 30px; }
  .row_vcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.ico {
  padding: 0 30px 0 10px;
  max-width: 120px !important; }

.news {
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .news {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: initial; } }
  .news__item {
    margin-bottom: 35px;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .news__item {
        margin-bottom: 30px; }
        .news__item:last-child {
          margin-bottom: 0px; }
        .news__item::before {
          content: '';
          position: absolute;
          top: 65px;
          right: -20px;
          height: 100px;
          width: 84px;
          z-index: -1;
          background-color: #ebebeb; } }
    @media only screen and (min-width: 1200px) {
      .news__item {
        max-width: 559px;
        margin-bottom: 75px; }
        .news__item::before {
          top: 154px;
          right: -30px;
          width: 200px;
          height: 166px; } }
    @media only screen and (min-width: 768px) {
      .news__item_main {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
        .news__item_main::before {
          content: '';
          position: absolute;
          top: 143px;
          right: -20px;
          height: 153px;
          width: 127px;
          z-index: -1;
          background-color: #ebebeb; } }
    @media only screen and (min-width: 1200px) {
      .news__item_main {
        max-width: 700px; }
        .news__item_main::before {
          top: 326px;
          right: -30px;
          width: 305px;
          height: 253px; }
        .news__item_main img {
          height: 100%;
          width: auto; } }
  @media only screen and (min-width: 768px) {
    .news__aside {
      display: block;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding-left: 100px; } }
  .news__date {
    font-size: 14px;
    margin-bottom: 8px; }
    @media only screen and (min-width: 768px) {
      .news__date {
        position: absolute;
        top: 5px;
        left: 5px;
        color: #f1f1f1;
        font-size: 12px; } }
  .news__lable {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    position: relative; }
    .news__lable::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #000000;
      position: absolute;
      bottom: 0px; }
    .news__lable:hover::before {
      display: none; }
    @media only screen and (min-width: 768px) {
      .news__lable {
        font-size: 16px;
        display: block;
        margin-top: 10px; }
        .news__lable::before {
          display: none; } }
  .news__img {
    display: none;
    overflow: hidden;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .news__img {
        display: block;
        max-height: 146px; } }
    @media only screen and (min-width: 1200px) {
      .news__img {
        max-height: 289px; } }
    .news__img_main {
      display: none; }
      @media only screen and (min-width: 768px) {
        .news__img_main {
          display: block;
          max-height: 275px; } }
      @media only screen and (min-width: 1200px) {
        .news__img_main {
          max-height: 550px; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .contacts {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 70px;
      padding-top: 45px; } }
  .contacts__item {
    margin-bottom: 45px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
    @media only screen and (min-width: 768px) {
      .contacts__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }
    @media only screen and (min-width: 1200px) {
      .contacts__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; } }
  .contacts__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    font-size: 20px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
    color: #5b5b5b;
    text-transform: uppercase;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .contacts__title {
        text-align: initial; } }
  .contacts__link {
    display: block;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.5px;
    line-height: 1; }
    .contacts__link:not(:last-child) {
      margin-bottom: 10px; }
  .contacts__social {
    display: inline-block; }
    .contacts__social:not(:last-child) {
      margin-right: 10px; }
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (min-width: 768px) {
      .contacts__content {
        -webkit-box-pack: initial;
        -ms-flex-pack: initial;
        justify-content: initial; } }
  .contacts__main {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 20px; }
  .contacts__ico {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 10px; }

.footer {
  position: relative; }
  .footer__top {
    height: 55px; }
    @media only screen and (min-width: 768px) {
      .footer__top {
        height: 160px; } }
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 14px;
    color: #ffffff;
    padding: 0 20px 40px;
    background-color: #034f98;
    height: 378px; }
    @media only screen and (min-width: 768px) {
      .footer__address {
        padding: 0 50px 80px;
        height: 590px;
        font-size: 20px;
        text-align: center; } }
  .footer__map {
    height: 336px;
    width: calc(100% - 40px);
    position: absolute;
    top: 0px;
    left: 20px;
    background: #000;
    -webkit-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1); }
    @media only screen and (min-width: 768px) {
      .footer__map {
        width: calc(100% - 100px);
        left: 50px;
        height: 544px; } }
    @media only screen and (min-width: 1200px) {
      .footer__map {
        width: 100%;
        left: 0; } }

@media only screen and (min-width: 768px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }

@media only screen and (min-width: 1200px) {
  .flex_noWrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }

@media only screen and (min-width: 768px) {
  .flex_wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.text_bold {
  font-family: "PFDinDisplayPro-Bold"; }

.text_center {
  text-align: center; }

.text_white {
  color: #ffffff; }

.text_lt-md {
  letter-spacing: 0.5px; }

@media only screen and (min-width: 1200px) {
  .text-desk_left {
    text-align: left; } }

.fz_normal {
  font-size: 20px; }

.mb_sm {
  margin-bottom: 20px; }

.px_sm {
  padding-left: 10px;
  padding-right: 10px; }

.px_md {
  padding-left: 20px;
  padding-right: 20px; }

.pl-desk-md {
  padding-left: 25px; }

.pr-desk-md {
  padding-right: 25px; }

@media only screen and (min-width: 768px) {
  .bg-tb_gray {
    background-color: #f1f1f1; } }

@media only screen and (min-width: 1200px) {
  .bg-desk_gray {
    background-color: #f1f1f1; } }

@media only screen and (min-width: 768px) {
  .d-tb-none {
    display: none; } }

@media only screen and (min-width: 1200px) {
  .d-desk-block {
    display: block; } }

@media only screen and (min-width: 1200px) {
  .d-desk-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.order-tb-1 {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.col_4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col_8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666%;
  flex: 0 0 66.66666%;
  max-width: 66.66666%; }

@media only screen and (min-width: 1200px) {
  .col-desk-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (min-width: 768px) {
  .fotorama__thumb-border, .fotorama__nav--thumbs .fotorama__nav__frame, .fotorama__thumb, .fotorama__thumb img {
    height: 175px !important;
    width: 175px !important;
    left: 0 !important; } }

@media only screen and (min-width: 768px) {
  .fotorama__thumb-border {
    display: none !important; } }

.test {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition: rotate(180deg);
  transition: rotate(180deg); }

.dots {
  position: fixed;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  top: 230px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .dots__line {
    width: 100vw;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    right: 8px;
    margin-top: 3px;
    top: 0px; }
    [line='top'] .dots__line {
      top: 0px; }
    [line='1'] .dots__line {
      top: 18px;
      background-color: #034f97; }
    [line='2'] .dots__line {
      top: 36px;
      background-color: #034f97; }
    [line='3'] .dots__line {
      top: 54px; }
    [line='4'] .dots__line {
      top: 72px;
      background-color: #034f97; }
    [line='5'] .dots__line {
      top: 90px;
      background-color: #034f97; }
    [line='6'] .dots__line {
      top: 108px;
      background-color: #034f97; }
    [line='bot'] .dots__line {
      top: 108px; }
  .dots__item {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .dots__item:not(:first-child) {
      margin-top: 10px; }
    [line='top'] .dots__item:nth-child(1) {
      -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
      box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='1'] .dots__item {
      background-color: #034f97; }
      [line='1'] .dots__item:nth-child(2) {
        -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
        box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='2'] .dots__item {
      background-color: #034f97; }
      [line='2'] .dots__item:nth-child(3) {
        -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
        box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='3'] .dots__item:nth-child(4) {
      -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
      box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='4'] .dots__item {
      background-color: #034f97; }
      [line='4'] .dots__item:nth-child(5) {
        -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
        box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='5'] .dots__item {
      background-color: #034f97; }
      [line='5'] .dots__item:nth-child(6) {
        -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
        box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='6'] .dots__item {
      background-color: #034f97; }
      [line='6'] .dots__item:nth-child(7) {
        -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
        box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
    [line='bot'] .dots__item:nth-child(8) {
      -webkit-box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75);
      box-shadow: 0 0 7px 1px rgba(84, 156, 221, 0.75); }
  @media only screen and (min-width: 1200px) {
    .dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
