.btn {
    width: auto;
    min-height: 64px;
    padding: 20px 39px 20px 39px;
    font-family: $ff-bold;
    font-size: $fz-sm;
    text-transform: uppercase;
    border: 1px solid $btn-fill;
    cursor: pointer;
    transition: background-color ease 0.25s, color ease 0.25s;
    letter-spacing: 1.9px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &_w100{
        width: 100%;
    }
    &__fill {
        background-color: $btn-fill;
        color: $color-white;
        &:hover {
            background-color: $btn-fill-hovered;
        }
        &:active {
            background-color: $btn-fill-hovered;
        }
        &_white{
            background-color: white;
            color: $color-txt;
            &:hover{
                color: $color-white;
            }
            &:active{
                color: $color-white;
            }
        }
    }
}