.deal-table{
    font-size: $fz-sm;
    text-transform: uppercase;
    @include respondTo(tablet){
        overflow-x: scroll;
        padding-bottom: 5px;
    }
    &__wrapp{
        min-width: 689px;
    }
    &__row{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    &__td{
        padding: 8px;
        &_xs{
            flex: 1 0 64px;
        }
        &_sm{
            flex: 1 0 115px;
        }
        &_md{
            flex: 2 0 120px;
        }
        &_xl{
            flex: 2 0 156px;
            .inline-link_fill{
                font-family: $ff-mid;
            }
        }
    }
}