.toolbar {
    background-color: $color-main;
    padding: 8px 0 10px;

    &__wrap {
        display: flex;
        align-items: center;

        @extend %c-wrap;
    }

    &__right-col {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        font-size: $fz-sm;
        color: $color-white;
        white-space: nowrap;
        display: inline-block;
        line-height: 1.3;
        margin-left: $gap;
        transition: all ease .3s;

        @include respondTo(small) {
            margin-left: $gap / 2;
        }

        @at-root .open-screen &{
            opacity: .5;
        }

        &:hover {
            color: $color-hover;
            opacity: 1;

            & .toolbar__ico {
                stroke: $color-hover;
            }
        }

        &.is-open{
            opacity: 1;
        }

        &_search {

            &.is-open {
                //background: url('../img/ico-close.svg') no-repeat 50% 50%/11px 11px;
                opacity: 1;

                //скрываю лупу, когда открыт поиск
                & .toolbar__ico {
                    display: none;
                }

                //показываю крестик, когда открыт поиск
                & .toolbar__ico_close {
                    display: inline-block;
                }
            }
        }

        &_route{
            margin-left: 0;
            padding-left: 16px;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: calc(50% - 3px);
                border-left: 1px solid $color-white;
                border-bottom: 1px solid $color-white;
                width: 5px;
                height: 5px;
                background-color: transparent;
                transform: rotate(-45deg);
                transition: border-color ease .3s;
            }

            &:hover{
                &:before{
                    border-color: $color-hover;
                }
            }

            &.is-open{

                &:before{
                    transform: rotate(135deg);
                    top: 50%;
                }
            }
        }

        //костыль для ЛК
        & span {
            margin-left: 8px;

            @include respondTo(tablet) {
                display: none;
            }
        }
    }

    &__ico {
        width: 12px;
        height: 11px;
        fill: none;
        fill-rule: evenodd;
        stroke: $color-white;
        transition: stroke ease .3s;
        margin-top: 2px;

        &_close{
            display: none;
        }
    }
}